body {
  margin: 0;
  padding: 0;
}

.slds-global-header_container {
  position: inherit;
}

.ql-editor {
  height: 400px !important;
}

.ql-toolbar.ql-snow {
  background-color: #e5e5e5;
}

.color-white {
  background-color: white;
}

.color-aliceblue {
  background-color: #eef4ff;
}

.df22snapshot {
  height: auto;
  margin: auto;
  max-width: 50%;
}
