<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>My Blog (Editor) - Powered by Salesforce LWR</title>
    <link rel="stylesheet" href="$assetsDir/styles/salesforce-lightning-design-system.css"/>
    <link rel="stylesheet" href="$assetsDir/css/main.css"/>
  </head>
  <body>
    <main>
      {# the "safe" filter prevents HTML escaping #}
      {{ body | safe }}
    </main>
  </body>
</html>